<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome | Diabetes Prediction</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <!-- Google Fonts: Playfair Display -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/homeStyles.css">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.png"
</head>
<body>
    <div class="container text-center">
        <img src="/static/img/logo2.png" id="logo" alt="Logo">
        <h1 class="landing-header mt-3 mb-3">Welcome to DiaRisk</h1>
        <p class="landing-subtext mb-4">
          A <i>web-based diabetes prediction tool</i> developed by Byron James Abarabar, utilizing Flask for the backend and machine learning for accurate health risk assessment.
        </p>
        <a href="form" class="btn btn-success btn-cta mb-5">Get Started</a>
    </div>
    <footer>
        &copy; 2023 Diabetes Prediction. All rights reserved.
    </footer>
</body>
</html>